{% extends "base" %}


{% block sidebar %}

    {% block sidebar_author %}
    <div class="sidebar-block text-center">
        <div class="author-image">
            <img src="https://www.gravatar.com/avatar/62d2260838ef63a940158474f2e6c65f?s=200">
        </div>
        <div class="title-block text-uppercase">
            David Cramblett
        </div>
        <div class="author-details">
            Avid outdoor adventurer and technology professional. Currently working as
            a systems administrator and web app developer.
        </div>
        <div class="author-social">
            <a href="https://www.facebook.com/david.cramblett" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/FunctionalChaos" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/+DavidCramblett" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.instagram.com/david.cramblett" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/cramblda" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </div>
    {% endblock sidebar_author %}

    {% block sidebar_category_widget %}
        <div class="sidebar-block sidebar-block-condensed">
            <div class="title-block text-center text-uppercase">Categories</div>
            <div class="post-category post-category-widget">
                <ul>
                {% for category,posts in data.posts_categories %}
                    <li><a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock sidebar_category_widget %}


    {% block sidebar_twitter_widget %}
    <div class="twitter-feed">
        <a class="twitter-timeline" href="https://twitter.com/FunctionalChaos">Tweets by FunctionalChaos</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    {% endblock sidebar_twitter_widget %}

{% endblock sidebar %}


{% block pre_footer %}
    {% block instagram_feed %}
        <div class="row">
            <div class="instafeed-banner text-uppercase text-center">
                Latest from <i class="fa fa-instagram"></i> Instagram
            </div>
        </div>

        <div class="row">
            <div id="instafeed">
            </div>
        </div>
    {% endblock instagram_feed %}
{% endblock pre_footer %}


{% block footer_left %}
    <h3 class="widget-title text-left">Author</h3>
    <div class="">

    </div>
 {% endblock footer_left %}


{% block footer_middle %}
    <h3 class="widget-title text-left">Tags</h3>
    <div class="post-tags post-tags-widget">
        <ul>
        {% for tag,posts in data.posts_tags %}
            <li><a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock footer_middle %}


{% block footer_right %}
    <h3 class="widget-title text-left">Archived Pages</h3>
    <div class="">

    </div>
 {% endblock footer_right %}


{% block scripts %}
    {{ parent() }}
    <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
    <script src="{{ site.url }}/js/instagram-feed.js"></script>
{% endblock scripts%}
