<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <meta charset="utf-8">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

        <link rel="apple-touch-startup-image" href="{{ site.url }}/images/jackson/2048x2048.png">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}/images/jackson/76x76.png">
        <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}/images/jackson/120x120.png">
        <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}/images/jackson/128x128.png">
        <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}/images/jackson/152x152.png">
        <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/images/jackson/196x196.png">
        <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}/images/jackson/512x512.png">
        <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}/images/jackson/1024x1024.png">
        <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}/images/jackson/2048x2048.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/images/jackson/76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/images/jackson/120x120.png">
        <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}/images/jackson/128x128.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/images/jackson/152x152.png">
        <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}/images/jackson/196x196.png">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}/images/jackson/512x512.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}/images/jackson/1024x1024.png">
        <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}/images/jackson/2048x2048.png">

        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        <style>
        /** quick fix because bootstrap <pre> has a background-color. */
        pre code { background-color: inherit; }
        </style>
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav text-uppercase">
                        <li><a href="{{ site.url }}/">Blog</a></li>
                            <li><a href="{{ site.url }}/blog">Posts</a></li>
                            <li><a href="{{ site.url }}/blog/categories">Categories</a></li>
                            <li><a href="{{ site.url }}/blog/tags">Tags</a></li>
                            <li><a href="{{ site.url }}/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="mainContent container">
            <div class="row">
                <div class="col-md-8">
                    {% block content_wrapper %}{% block content %}{% endblock content%}{% endblock content_wrapper%}
                </div>
                <div class="col-md-4">
                    <div class="author-block text-center">
                        <diV class="author-image">
                            <img src="https://www.gravatar.com/avatar/62d2260838ef63a940158474f2e6c65f?s=200">
                        </diV>
                        <diV class="author-name text-uppercase">
                            David Cramblett
                        </div>
                        <diV class="author-details">
                            Avid outdoor adventurer and technology professional. Currently working as
                            a systems administrator and web app developer.
                        </div>
                        <diV class="author-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="well sidebar-nav">
                        <h4>Links</h4>
                        <ul class="nav">
                            <li><a href="http://sculpin.io">sculpin.io</a></li>
                            <li><a href="http://twitter.com/getsculpin">@getsculpin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="instafeed-banner text-uppercase text-center">
                Latest from <i class="fa fa-instagram"></i> Instagram
            </div>
        </div>

        <div class="row">
            <div id="instafeed">
            </div>
        </div>

        <div class="footer">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <footer>
            <div class="row text-center">
                &copy; {{ "now"|date("Y") }} {{ site.title }}
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
        <script src="{{ site.url }}/js/instagram-feed.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}

        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
