h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

body {
    padding-top: 110px;
    background-color: #F4F4F4;
}

nav.navbar a:hover {
    color: #00acdf !important;
}

nav.navbar {
    background-color: #fff;
    padding: 10px 0;
}

nav.post-nav {
    margin-bottom: 50px;
}

nav.post-nav a, nav.post-nav a:hover {
    color: #00acdf;
    text-decoration: none;
}

.mainContent, footer.container {
    max-width: 1200px;
    min-height: 600px;
}

div.sidebar-block {
    margin-bottom: 60px;
    padding: 30px 20px 20px 20px;
    background-color: #fff;
}

div.sidebar-block-condensed {
    padding: 15px 10px 10px 15px;
}

div.author-image img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

div.author-name {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 20px 0;
}

div.author-details {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
}

div.author-social {
    padding: 20px 0;
}

div.author-social i
{
    height: 33px;
    width: 33px;
    line-height: 33px;
    font-size: 15px;
    border-radius: 50%;
    margin: 3px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #C2C2C2;
}

div.author-social i:hover
{
    border: 1px solid #00acdf;
    color: #fff;
    background-color: #00acdf;
}

article {
    margin-bottom: 50px;
    background-color: #fff;
}

div.post-image img {
    max-width: 100%;
    border: 0;
}

header.post-header {
    margin: 40px 0 23px;
}

header.post-header h6, header.post-header h6 a {
    color: #00acdf;
    font-weight: 700;
    text-decoration: none;
}

div.post-body {
    padding: 0 40px 30px 40px;
}

div.post-readmore {
    margin: 50px auto 0 auto;
    width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #00acdf;
    border: 1px solid #00acdf;
    color: #fff;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

div.post-readmore a {
    color: #fff;
    text-decoration: none;
}

.post-category ul {
    list-style: none outside none;
    margin: 30px 20px 0 20px;
    // border-top: 1px solid #eee;
    padding: 0 0 30px 0;
}

.post-category ul li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.post-category ul li:last-child {
    border: none;
}

.post-category ul li a {
    padding-left: 20px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 500;
    color: #323232;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.33s;
}

.post-category ul li a:hover {
    color: #00BFF3;
}


div.post-tags {
    padding: 40px 40px 20px 40px;
}

div.post-tags-widget {
    padding: 10px;
}

.post-tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-tags ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}

.post-tags ul li a {
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    border: 1px solid #00acdf;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #00acdf;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

.post-tags ul li a:hover {
    background-color: #00acdf;
    border: 1px solid #00acdf;
    color: #fff;
}

li.post-tags-label {
    height: 25px;
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818181;
}

hr.post {
    margin: 0 40px 20px 40px;
}

div.post-byline {
    height: 50px;
    padding: 0 40px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818181;
}

div.post-nav-container {
    height: 160px;
    margin-bottom: 20px;
    padding-right: 0;
    background-color: #fff;
    border-left: 3px solid #00acdf;
}

div.post-nav-head {
    padding-top: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818181;
}

div.post-nav-title {
    padding-top: 15px;
}

div.post-nav-title a {
    color: #00acdf;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

div.post-nav-byline {
    padding-top: 5px;
    color: #818181;
    text-transform: uppercase;
    font-size: 12px;
}

div.post-nav-thumb {
    padding: 0;
}

div.disqus-block {
    background-color: #fff;
    margin: 40px 0;
    padding: 10px;
}

div.twitter-feed {
    margin-bottom: 30px;
}

div.instafeed-banner {
    padding: 20px 0;
    background-color: #fff;
    color: #333333;
    font-size: 18px;
    letter-spacing: 0.5px;
}

div.instafeed-col {
  padding: 0;
}

img.instafeed {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

div.instafeed-landscape img{
    max-width: 178.3%;
}

div.footer {
    color: #e2e2e2;
    background-color: #333333;
    padding: 15px 50px;
    min-height: 400px;
}

footer {
    padding: 15px 0;
    color: #e2e2e2;
    background-color: #000;

}

.widget-title {
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: "Open Sans";
}
