h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

body {
    padding-top: 110px;
    background-color: #F4F4F4;
}

nav.navbar {
    background-color: #fff;
    padding: 10px 0;
}

.mainContent, footer.container {
    max-width: 1200px;
    min-height: 600px;
}

article {
    margin-bottom: 50px;
    background-color: #fff;
}

div.post-image img {
    max-width: 100%;
    border: 0;
}

header.post-header {
    margin: 40px 0 23px;
}

header.post-header h6, header.post-header h6 a {
    color: #00acdf;
    font-weight: 700;
    text-decoration: none;
}

div.post-body {
    padding: 0 40px 30px 40px;
}

div.post-readmore {
    margin: 50px auto 0 auto;
    width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #00acdf;
    border: 1px solid #00acdf;
    color: #fff;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

div.post-readmore a {
    color: #fff;
    text-decoration: none;
}


div.post-tags {
    padding: 40px 40px 20px 40px;
}

.post-tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-tags ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}

.post-tags ul li a {
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

.post-tags ul li a:hover {
    background-color: #00acdf;
    border: 1px solid #00acdf;
    color: #fff;
}

.post-tags ul li:first-child {
    height: 25px;
    vertical-align: middle;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818181;
}

hr.post {
    margin: 0 40px 20px 40px;
}


div.post-byline {
    height: 50px;
    padding: 0 40px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818181;
}

div.post-nav {
}

div.post-nav-container {
    height: 160px;
    margin-bottom: 20px;
    padding-right: 0;
    background-color: #fff;
    border-left: 3px solid #00acdf;
}

div.post-nav-head {
    padding-top: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #818181;
}

div.post-nav-title {
    padding-top: 15px;
}

div.post-nav-title a {
    color: #00acdf;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

div.post-nav-byline {
    padding-top: 5px;
    color: #818181;
    text-transform: uppercase;
    font-size: 12px;
}

div.post-nav-thumb {
    padding: 0;
}

div.footer {
    margin-top: 30px;
    color: #e2e2e2;
    background-color: #333333;
    padding: 15px 0;
    min-height: 400px;
}

footer {
    padding: 15px 0;
    color: #e2e2e2;
    background-color: #000;

}


