---
layout: default
title: Post Archive
generator: pagination
use:
    - posts_tags
---

{% set year = '0' %}
<h2>Posts Archive</h2>
<div class="post-nav">
{% for post in page.pagination.items %}
    {% set this_year %}{{ post.date | date("Y") }}{% endset %}
    {% if year != this_year %}
        {% set month = '0' %}
        {% set year = this_year %}
    {% endif %}
    {% set this_month %}{{ post.date | date("F") }}{% endset %}
    {% if month != this_month %}
        {% set month = this_month %}
        <h3>{{ month }} {{ year }}</h3>
    {% endif %}

        <div class="col-md-12 post-nav-container">
            <div class="col-xs-8 post-nav-data">
                <div class="row">
                    <div class="col-xs-12 post-nav-head">
                        {% for category in post.categories %}
                            {{ category }}{% if not loop.last %} &nbsp; / &nbsp; {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 post-nav-title">
                        <a class="next" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
                            {{ post.title }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 post-nav-byline">
                        {{ post.date|date('F j, Y') }}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 post-nav-thumb">
                {% if post.image.url %}
                    <a href="{{ post.url }}"><img src="{{
                        thumbnail(
                            post.image.url,
                            244,
                            160,
                            true
                        ) }}" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
{% endfor %}
</div>

<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
        {% if page.pagination.previous_page %}
            <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a>
        {% endif %}
        {% if page.pagination.next_page %}
            <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a>
        {% endif %}
    </nav>
{% endif %}
</div>