---
layout: home
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts_categories
    - posts_tags
---


    {% for post in page.pagination.items %}

        <article>
            {% if post.image.url %}
                <div class="post-image">
                    <a href="{{ site.url }}{{ post.url }}"><img src="{{
                        thumbnail(
                            post.image.url,
                            post.image.width|default(742),
                            post.image.height|default(null),
                            post.image.scale|default(false)
                        ) }}" alt=""></a>
                </div>
            {% else %}
                <div class="post-image">&nbsp;</div>
            {% endif %}
            <header class="post-header text-center">
                {% if post.categories %}
                    <h6 class="text-uppercase">
                    {% for category in post.categories %}
                        <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %} &nbsp; / &nbsp; {% endif %}
                    {% endfor %}
                    </h6>
                {% endif %}
                <h1>{{ post.title }}</h1>
            </header>
            <div class="post-body">

                {% set break_array = post.blocks.content|split('---more---', 2) %}

                {{ break_array[0]|raw }}

                {% if break_array|length > 1 %}
                    <div class="post-readmore text-center">
                        <a href="{{ site.url }}{{ post.url }}">Read more</a>
                    </div>
                {% else %}
                    <div class="post-readmore text-center">
                        <a href="{{ site.url }}{{ post.url }}">View Post</a>
                    </div>
                {% endif %}

            </div>

            <hr class="post">

            <div class="post-byline">
                By {{ post.author|default('Anonymous') }} On {{ post.date|date('F jS, Y') }}
            </div>
        </article>
    {% endfor %}

    {% if page.pagination.previous_page or page.pagination.next_page %}
        <nav class="post-nav">
            <div class="row">
                <div class="col-xs-6 text-left">
                    {% if page.pagination.previous_page %}<a class="btn btn-default" href="{{ site.url }}{{ page.pagination.previous_page.url }}"><i class="fa fa-arrow-circle-left"></i> Newer Posts</a>{% endif %}<br />
                </div>
                <div class="col-xs-6 text-right">
                    {% if page.pagination.next_page %}<a class="btn btn-default" href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts <i class="fa fa-arrow-circle-right"></i></a>{% endif %}<br />
                </div>
            </div>
        </nav>
    {% endif %}